---
import { getCollection, render } from 'astro:content';
import '../../styles/global.css';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.id },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>{post.data.title} - lewis m.w.</title></head>
<body>
<header>
<pre><a href="/">lewis m.w.</a>  <a href="mailto:lewis@wynne.rs">mail</a> <a href="https://github.com/llywelwyn">gh</a></pre>
</header>

<article>
<h1>{post.data.title}</h1>
<Content />
</article>
</body>
</html>
