body {
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem;
}

.left, .right {
  display: block;
  font-size: 0.9rem;
}

@media (min-width: 63rem) {
  .left, .right {
    display: inline;
    position: relative;
    width: 10rem;
  }
  .left {
    float: left;
    margin-left: -12rem;
  }
  .right {
    float: right;
    margin-right: -12rem;
  }
}
