body {
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.25rem;
}

.muted {
  color: #888;
}

.left, .right {
  display: block;
  font-size: 0.9rem;
}

@media (min-width: 63rem) {
  .left, .right {
    display: inline;
    position: relative;
    width: 10rem;
  }
  .left {
    float: left;
    margin-left: -12rem;
  }
  .right {
    float: right;
    margin-right: -12rem;
  }
}

details {
  margin: 1rem 0;
}

summary {
  cursor: pointer;
  font-family: monospace;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details pre {
  margin: 0;
}

.guestbook-entries {
  font-family: monospace;
}

.guestbook-entry {
  display: grid;
  grid-template-columns: 8ch 1fr;
  gap: 0 4ch;
}
