---
import { getCollection, render } from 'astro:content';
import '../styles/global.css';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.id },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>{post.data.title}</title></head>
<body>
<article>
<h1>{post.data.title}</h1>
<Content />
</article>
</body>
</html>
