---
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../lib/format';
import { getTxtFiles } from '../../lib/txt';

const txtFiles = getTxtFiles();
---
<Layout title="txt - lewis m.w.">

<details open>
  <summary>txt</summary>
<pre set:html={txtFiles.map(f => `<span class="muted">${formatDate(f.date)}</span>    <a href="/txt/${f.name}">${f.name}</a>${f.pinned ? ' [pinned]' : ''}`).join('\n')} />
</details>
</Layout>
