---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { formatListItem, extractDomain } from '../../lib/format';

const bookmarksCollection = await getCollection('bookmarks');
const bookmarks = bookmarksCollection
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<Layout title="bookmarks - lewis m.w.">

<details open>
  <summary>bookmarks</summary>
<pre set:html={bookmarks.map(b => formatListItem(b.data.date, b.data.url, b.data.title, { suffix: `<span class="muted">(${extractDomain(b.data.url)})</span>` })).join('\n')} />
</details>
</Layout>
