---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { formatDate, extractDomain } from '../../lib/format';

const bookmarksCollection = await getCollection('bookmarks');
const bookmarks = bookmarksCollection
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<Layout title="bookmarks - lewis m.w.">

<details open>
  <summary>bookmarks</summary>
<pre set:html={bookmarks.map(b => `<span class="muted">${formatDate(b.data.date)}</span>    <a href="${b.data.url}">${b.data.title}</a> <span class="muted">(${extractDomain(b.data.url)})</span>`).join('\n')} />
</details>
</Layout>
