<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
  <link rel="stylesheet" href="/style.css">
  {% if config.generate_feeds %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  {% endif %}
</head>
<body>
  <nav>
    <a href="/">ily [dot] rs</a> |
    <a href="/links/">links</a> |
    <a href="/now/">now</a> |
    sign the <a href="/guestbook/">guestbook</a>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
